.planet-comparison-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 16px;
    color: black;
    margin-top: 16px;
    height: 600px;
}

@media screen and (max-width: 1200px) {
    .planet-comparison-container {
        flex-direction: column;
        gap: 8px;
        height: auto;
    }
}