body {
  font-family: Monaco, Consolas, 'Courier New',
    monospace;
}

#page-wrap {
  padding-left: 32px;
  padding-right: 32px;
}

@media (max-width: 400px) {
  #page-wrap {
    padding-left: 16px;
    padding-right: 16px;
  }
}