:root {
  --default-color-text: rgba(255, 255, 255, 0.85);
  --default-color-border: rgba(255, 255, 255, 0.15);
}

body {
  background-color: black;
  color: var(--default-color-text);
  font-family: Monaco, Consolas, 'Courier New', monospace;
  margin: 0px;
}