article {
    font-size: 14px;
}

.planet-box {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 20px;
    flex-grow: 1;
}

.submission-content {
    display: flex;
    justify-content: center;
}

.search-container {
    flex-basis: 75%;
    margin: 0px 0px;
}

.submit-button {
    flex-basis: 15%;
    margin: 0px 4px;
}

.planet-info-content {
    padding: 16px;
    display: block;
    justify-content: center;
    text-align: left;
    max-width: 250px;
}