.info-item {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 0px;
}

#site-info {
    display: flex;
    margin-bottom: 16px;
}

#intro {
    flex-basis: 35%;
}

#data {
    flex-basis: 65%;
    margin-left: 14px;
    text-align: center;
}

@media(max-width: 640px) {
    #site-info {
        flex-direction: column;
        flex-wrap: wrap;
    }

    #data {
        margin-left: 0px;
    }
}